{% extends 'head.html' %}
{% load static %}
{% block head %}
        <tr align="center">
            <td>
               <table align="center" border="0">
        <tr>
            <td>
                <h2 style="text-align: center;color:#047BD5;font-family: Roboto;margin-top: 40px">About TrustCart.com.</h2>
            </td>
        </tr>
        <tr>
            <td>
                <br><br><br><br><br><br><img src="{% static 'images/about_1.png' %}" height="400" width="700">
            </td>
        </tr>
        <tr align="center">
            <td >
                <br><br><br><br><br><br><img src="{% static 'images/about_2.png' %}" height="600">
            </td>
        </tr>
        <tr>
            <td>
                <br><br><br><br><br><br><img src="{% static 'images/Aabout_logo.jpg' %}" height="600">
            </td>
        </tr>
    </table>

{% endblock %}
