{% extends 'head.html' %}
{% load static %}
{% block head %}
                <div class="card" style="width: 60rem;margin-left: 20px">
        <div class="card-body">
                <table border="0" align="center">
                    <tr>
                        <td>

                            <br><br><h5>FAQs</h5><br>
                            <p style="font-size: 14px;">What happens when I update my email address (or mobile number)?</p>
                            <p style="font-size: 14px;color: grey">Your login email id (or mobile number) changes, likewise. You'll receive all your account related communication on your updated email address (or mobile number).</p>

                            <p style="font-size: 14px;">When will my TrustCart account be updated with the new email address (or mobile number)?</p>
                            <p style="font-size: 14px;color: grey">It happens as soon as you confirm the verification code sent to your email (or mobile) and save the changes.</p>

                            <p style="font-size: 14px;">What happens to my existing TrustCart account when I update my email address (or mobile number)?</p>
                            <p style="font-size: 14px;color: grey">Updating your email address (or mobile number) doesn't invalidate your account. Your account remains fully functional. You'll continue seeing your Order history, saved information and personal details.</p>

                            <p style="font-size: 14px;">Does my Seller account get affected when I update my email address?</p>
                            <p style="font-size: 14px;color: grey">TrustCart has a 'single sign-on' policy. Any changes will reflect in your Seller account also.</p>


                        </td>
                    </tr>
                </table>
  </div>
          </div>

{% endblock %}