{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


  </head>
  <body>
    <table align="center" border="0">
        <tr >
            <td style="color:cadetblue;font-family: Roboto" width="250">
                ABOUT
            </td>
            <td style="color:cadetblue;font-family: Roboto" width="250">
                HELP
            </td>
            <td style="color:cadetblue;font-family: Roboto" width="250">
                POLICY
            </td>
            <td style="color:cadetblue;font-family: Roboto" width="250">
                SOCIAL
            </td>
            <td style="color:cadetblue;font-family: Roboto" width="250">
                Registered Office Address:
            </td>
        </tr>
        <tr>
        <td style="color:grey;font-family:Roboto;font-size: 12px" width="250">
                Contact Us
          </td>
            <td style="color:grey;font-family: Roboto;font-size: 12px" width="250">
                <a href="{% url 'faq' %}" target="_blank" style="color:grey;font-family: Roboto;font-size: 12px">FAQ</a>
            </td>
            <td style="color:grey;;font-family: Roboto;font-size: 12px" width="250">
                <a href="https://www.privacypolicygenerator.info/live.php?token=pDRgnhwuPx6okTKyv4tDlD7zJ9GdO22o" target="_blank" style="color:grey;font-family: Roboto;font-size: 12px">Privacy policy</a>
            </td>
            <td style="color:grey;font-family: Roboto;font-size: 12px" width="250">
                <a href="https://facebook.com" target="_blank" style="color:grey;font-family: Roboto;font-size: 12px">Facebook</a>
            </td>
            <td rowspan="3" style="color:grey;font-family: Roboto;font-size: 12px" width="250">
                TrustCart Internet Private Limited,
                Bengaluru, 560103, Karnataka, India
                CIN : U51109KA2012PTC066107
                Telephone: 1800 208 9898
            </td>
        </tr>
        <tr>
        <td style="color:grey;font-family:Roboto;font-size: 12px" width="250">
            <a href="{% url 'about' %}" target="_blank" style="color:grey;font-family: Roboto;font-size: 12px">About Us</a>
            </td>
            <td style="color:grey;font-family: Roboto;font-size: 12px" width="250">
                Customer Care
            </td>
            <td style="color:grey;;font-family: Roboto;font-size: 12px" width="250">
                <a href="{% url 'terms_conditions' %}" target="_blank" style="color:grey;font-family: Roboto;font-size: 12px">Terms & Conditions</a>
            </td>
            <td style="color:grey;font-family: Roboto;font-size: 12px" width="250">
                <a href="https://twitter.com" target="_blank" style="color:grey;font-family: Roboto;font-size: 12px">Twitter</a>
            </td>
        </tr>
        <tr>
        <td style="color:grey;font-family:Roboto;font-size: 12px" width="250">
                TrustCart Stories
            </td>
            <td style="color:grey;font-family: Roboto;font-size: 12px" width="250">

            </td>
            <td style="color:grey;;font-family: Roboto;font-size: 12px" width="250">
                <a href="https://www.disclaimergenerator.net/live.php?token=D8gfILrDGPgzh9aVPtGU8BRe4MoozopG" target="_blank" style="color:grey;font-family: Roboto;font-size: 12px">Disclaimer</a>
            </td>
            <td style="color:grey;font-family: Roboto;font-size: 12px" width="250">
                <a href="https://instagram.com" target="_blank" style="color:grey;font-family: Roboto;font-size: 12px">Instagram</a>
            </td>
        </tr>
    </table>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>