{% extends 'head.html' %}
{% load static %}
{% block head %}



<table align="center" border="0">
    <tr>
        <th>
            <div class="login-box">
  <div class="login-logo">
    <a href="{% url 'index' %}"><b>Trust</b>Cart</a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Sign in to start your session</p>

      <form action="{% url 'login_check' %}" method="post">
          {% csrf_token %}
        <div class="input-group mb-3">
          <input type="email" class="form-control" placeholder="Email" name="email">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="Password" name="password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">

          <!-- /.col -->
            {% for x in messages %}
            <h6 style="text-align: center;color: red;font-family: Roboto;margin-left: 41px">  {{ x }}</h6>
            {% endfor %}
          <div class="col-4" >
              <button type="submit" class="btn btn-primary btn-block">Login</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
      <!-- /.social-auth-links -->

      <p class="mb-0" style="text-align: center">
        <a href="{% url 'signup' %}" class="text-center">Register a new membership</a>
      </p>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
<!-- /.login-box -->
        </th>
    </tr>

</table>

{% endblock %}