{% extends 'head.html' %}
{% load static %}
{% block head %}
    <table align="center" border="0">


        {% for x in data %}
        <tr align="center">
            <td width="1150">
        <div class="card" style="width: 60rem;">
  <div class="card-body">

    <table align="center" border="0">
        <tr>
            <td width="250" rowspan="14" style="text-align: center">
                     <a href="{% url 'view_one_camera' %}?modelno={{ x.model_no_id }}" >
                <img src="{{ x.photo.url }}" width="210" height="140">
                </a>


            </td>
        <td width="550" style="height: 10px">
               <a href="{% url 'view_one_camera' %}?modelno={{ x.model_no_id }}" > <h5>{{ x.tittle }}</h5></a>
         </td>

    <td width="200" style="text-align: center" rowspan="14">
                <h6 style="font-size: 30px">₹{{ x.price }}</h6>
        Upto 10% off on SBI Card <br> Upto ₹2500 off on Exchange<br>No Cost EMI<br><br>  <br><br>  <br><br>
           </td>

        <tr>

            <td>
                <ul class="ult">
                    <li class="lit">  Effective Pixels: {{ x.effective_pixels }}</li>
                    <li class="lit">
                        Sensor Type: {{ x.sensor_type }}
                    <li class="lit"> {{ x.video_quality }}</li>
                    <li class="lit"> {{ x.type }}</li>
                    <li class="lit"> {{ x.warranty_summary }}</li>

                </ul>

            </td>
    </tr>

    </table>
  </div>
</div>
                        </td>
                    </tr>
        {% endfor %}


                </table>

    {% endblock %}