{% extends 'login_head.html' %}
{% load static %}
{% block lghead %}
    <table align="center" border="0">

        {% for x in data %}
        <tr align="center">
            <td width="1150">
        <div class="card" style="width: 60rem;">
  <div class="card-body">

    <table align="center" border="0">
        <tr>
            <td width="250" rowspan="14" style="text-align: center">

                <a href="{% url 'view_one_laptop' %}?modelno={{ x.model_no_id }}" >
                <img src="{{ x.photo.url }}" width="200" height="140">
                </a>

            </td>
        <td width="550" style="height: 10px">
               <a href="{% url 'view_one_laptop' %}?modelno={{ x.model_no_id }}" > <h5>{{ x.tittle }}</h5></a>
         </td>

    <td width="200" style="text-align: center" rowspan="14">
                <h6 style="font-size: 30px">₹{{ x.price }}</h6>
        Upto 10% off on SBI Card <br> Upto ₹2500 off on Exchange<br>No Cost EMI<br><br>  <br><br>  <br><br>
           </td>

        <tr>

            <td>
                <ul class="ult">
                <li class="lit"> {{ x.processor_brand }} {{ x.processor_name }} {{ x.processor_genereation }} Processor</li>
                    <li class="lit"> {{ x.ram }} {{ x.ram_type }} RAM </li>
                    <li class="lit"> {{ x.os_architecture }} {{ x.operating_system }} Operating System </li>
                    <li class="lit"> {{ x.hdd_capacity }} HDD </li>
                    <li class="lit">
                        {{ x.screen_size }} Display
                    </li>
                    <li class="lit"> {{ x.warranty_summary }}</li>

                </ul>

            </td>
    </tr>

        </tr>
    </table>
  </div>
</div>
                        </td>
                    </tr>
        {% endfor %}
                </table>

    {% endblock %}